<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Todo list app</title>
</head>

<body>
    <div id="app">

        <div class="modal" v-show="modalOpened">
            <form class="modal-body" @submit.prevent="addTask">
                <span class="modal-title">
                    Enter a new task
                </span>
                <div class="modal-input-wrapper">
                    <input v-model="taskName" class="modal-input" type="text" placeholder="Enter a new task">
                </div>
                <div class="modal-controls">
                    <button type="button" @click="toggleModal">Close</button>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>

        <header>
            <div class="container">
                <h1>Todo</h1>

                <div class="search-box">
                    <input v-model="search" class="search" type="text" placeholder="Search">
                </div>
            </div>
        </header>

        <div class="container">
            <div class="list">
                <div class="list-item" v-for="task in filteredTasks">
                    <div class="list-item-name">{{ task.name }}</div>
                </div>
            </div>
        </div>

        <div class="btn-add" @click="toggleModal">+</div>

    </div>

    <script src="assets/js/vue.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
